# 画像入出力ディレクトリを除外
/outputs/
/inputs/

# OpenCVライブラリを除外
/cv2/
/bin/
/numpy*/
/opencv*/

# Pillowを除外
/PIL/
/Pillow*/

upload.zip
upload_dev.zip

# ローカルテスト用の画像を除外
test.jpg
output.jpg

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless
node_modules

__pycache__